@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

/* Css Reste*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-90deg, #59fdfd, #00ff2a);
}

.box {
    position: relative;
    width: 380px;
    height: 420px;
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;
}

.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img img{
    width: 50px;
    margin-top: -360%;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #ff0505, #ff0084);
    animation: animate 6s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #ff0505, #ff0084);
    animation: animate 6s linear infinite;
    animation-delay: -3s
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: absolute;
    inset: 2.5px;
    background: #ffffff;
    border-radius: 15px;
    z-index: 10;
    padding: 20px 5px;
}


.container {
    position: relative;
    width: 100%;
    min-height: 420px;
    background-color: none;
    overflow: hidden;
    border-radius: 15px;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin: 45px;
    font-size: 35px;
    color: rgb(24, 164, 3);
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 85%;
    height: 45px;
    background-color: #cac9c9;
    margin: 15px 0;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 6px;
}

.input-field i {
    text-align: center;
    line-height: 45px;
    color: #000000;
    font-size: 22px;

}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.input-field input::placeholder {
    font-size: 16px;
    opacity: 80%;
    color: #000000;  
}

.links a{
    display: flex;
    padding: 8px;
    justify-content: space-between;
    color: #000000;
    font-size: 12px;
    transform: translateX(110px)
}

/*.links:hover a{
    color: #d16666;
}*/


.btn {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 49px;
    background: linear-gradient(0deg, #00eeff, #2af00f);
    /*background-color: #090c11;*/
    color: azure;
    font-weight: 600;
    text-transform: capitalize;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s
}

.btn:hover {
    /*background-color: #1dc734;*/
    background: linear-gradient(0deg, #45f3ff, #45f3ff);
}

.imgn{
    margin-top: -330px;
}